@model List<CadeMeuPet.MVC.ViewModel.AnimalViewModel>

<form>
    <div class="card">
        <div class="card-body">
            @if(Model != null && Model.Count() > 0)
            {
                <div class="alert alert-success" role="alert" id="dv-success">
                    Busca realizada com sucesso!
                </div>
            }
            else if(Model != null && Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert" id="dv-alert">
                    Não houve resultados para a busca
                </div>
            }
            <table id="table-cadeMeuPet" class="table-responsive">
                <thead>
                    <tr>
                        @if(Model != null)
                        {
                            foreach(var animal in Model.Where(x => x.Fotos.Count() > 0))
                            {
                                var i = 0;
                                <td style="width: 200px; height: 200px" class="animal-td">
                                    <div id="carouselId_@animal.AnimalId" class="carousel slide carousel-fade" data-ride="carousel">
                                        <div class="carousel-inner">
                                            @foreach(var fotos in animal.Fotos)
                                            {
                                                if(i == 0)
                                                {
                                                    <div class="carousel-item w-img active">
                                                        <img class="d-block w-50" style="width:200px;height:200px" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId">
                                                    </div>
                                                    i++;
                                                }
                                                else
                                                {
                                                    <div class="carousel-item w-img">
                                                        <img class="d-block w-50" style="width:200px;height:200px" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId">
                                                    </div>
                                                    i++;
                                                }
                                            }
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselId_@animal.AnimalId" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselId_@animal.AnimalId" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Próximo</span>
                                        </a>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>
