<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/bootbox.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.filedrop.js"></script>*@

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CadeMeuPet.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/icons/css/all.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-menu">
        <div class="collapse navbar-collapse">
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-item nav-link-menu" href="/CadeMeuPet/Index">
                            <span class="btn btn-sm btn-outline-success" style="color: white">Cadê meu Pet ?</span> /
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link-menu" href="/EncontreiPet/Index">
                            <span class="btn btn-sm btn-outline-success" style="color: white">Encontrei um Pet</span> /
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link-menu" href="/PerdiMeuPet/Index">
                            <span class="btn btn-sm btn-outline-success" style="color: white">Contato</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-menu">
            <li>
                <a class="nav-item nav-link-menu" href="#" nav-item nav-link-menu>
                    @if(Request.IsAuthenticated)
                    {
                        <span class="glyphicon">Olá </span>
                        @Html.Encode(User.Identity.Name);
                    }
                    else
                    {
                        <span class="fa fa-user"> Login </span>
                    }
                </a>
            </li>
            <li><a class="nav-item nav-link-menu" href="@Url.Action("Logout","Account")"><span class="fa fa-door-open"></span> Sair</a></li>
        </ul>
    </nav>
    @*<nav class="navbar fixed-top navbar-expand-lg navbar-menu">
            <div class="navbar-header">
                <a href="/Home/Index">
                    <img style="max-width:150px;" src="~/Imagens/home/logo-banner.png">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    |<span class="fa fa-paw"><a class="nav-item nav-link-menu" href="/EncontreiPet/Index"> Encontrei um Pet</a></span>|
                    |<span class="fa fa-dog"><a class="nav-item nav-link-menu" href="/CadeMeuPet/Index">Cadê meu Pet ?</a></span>|
                    |<span class="fa fa-phone"><a class="nav-item nav-link-menu" href="/PerdiMeuPet/Index">Contato</a></span>|
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-menu">
                <li>
                    <a class="nav-item nav-link-menu" href="#" nav-item nav-link-menu>
                        @if (Request.IsAuthenticated)
                        {
                            <span class="glyphicon">Olá </span>
                            @Html.Encode(User.Identity.Name);
                        }
                        else
                        {
                            <span class="glyphicon">Login </span>
                        }
                    </a>
                </li>
                <li><a class="nav-item nav-link-menu" href="@Url.Action("Logout","Account")"><span class="fas fas-user"></span> Sair</a></li>
            </ul>
        </nav>*@
    <div class="container">
        <br />
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)


</body>
</html>
