@model CadeMeuPet.MVC.ViewModel.AnimalViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form id="frm-cadastrar" action="Cadastrar" method="post">
        <div class="panel-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <span class="text-tittle-page">Editar Pet Encontrado</span>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-12">
                    <a href="~/EncontreiPet/Index" value="Concluir" id="btn-voltar" class="btn btn-outline-primary fa fa-backward">
                        <span class="col-form-label-sm">Voltar</span>
                    </a>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Estado:</label>
                            @Html.DropDownListFor(model => model.Localizacao.EstadoId, new SelectList(Model.EstadoList, "EstadoId", "NomeEstado", Model.Localizacao.EstadoId), "Selecione", htmlAttributes: new { @id = "Estado", @required = "required", @class = "form-control selectpicker", data_show_subtext = "true", data_live_search = "true" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Cidade:</label>
                            @Html.DropDownListFor(model => model.Localizacao.CidadeId, new SelectList(Model.CidadeList, "CidadeId", "NomeCidade", Model.Localizacao.CidadeId), "Selecione", htmlAttributes: new { @id = "Cidade", @required = "required", @class = "form-control selectpicker", data_show_subtext = "true", data_live_search = "true" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Bairro:</label>
                            <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Bairro" value="@Model.Localizacao.Bairro" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="especie">Logradouro:</label>
                            <input type="text" id="logradouro" name="logradouro" class="form-control" placeholder="Logradouro" value="@Model.Localizacao.Logradouro" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Data que foi encontrado:</label>
                            @*<input type="date" id="data-localizacao" name="data-localizacao" class="form-control" value="@Model.Localizacao.DataLocalizacao.ToString("{0:yyyy-MM-dd}")" />*@
                            @Html.TextBoxFor(m => m.Localizacao.DataLocalizacao, new { @Value = Model.Localizacao.DataLocalizacao.ToString("dd/MM/yyyy"), @class = "form-control", @readonly = true })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Espécie:</label>
                            @Html.DropDownListFor(model => model.EspecieAnimalId, new SelectList(Model.EspecieList, "EspecieAnimalId", "Especie", Model.EspecieAnimalId), "Selecione", htmlAttributes: new { @id = "Especie", @required = "required", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Raça:</label>
                            @Html.DropDownListFor(model => model.RacaAnimalId, new SelectList(Model.RacaList, "RacaAnimalId", "Raca", Model.RacaAnimalId), "Selecione", htmlAttributes: new { @id = "Raca", @required = "required", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Cor:</label>
                            @Html.DropDownListFor(model => model.CorAnimalId, new SelectList(Model.CorList, "CorAnimalId", "Cor", Model.CorAnimalId), "Selecione", htmlAttributes: new { @id = "Cor", @required = "required", @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Porte:</label>
                            @Html.DropDownListFor(model => model.PorteAnimalId, new SelectList(Model.PorteList, "PorteAnimalId", "Porte", Model.PorteAnimalId), "Selecione", htmlAttributes: new { @id = "Porte", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="especie">Possui identificação ?</label>
                            @Html.DropDownListFor(model => model.Identificacao, new SelectList(Model.IdentificacaoList, "Value", "Text", Model.Identificacao), "Selecione", htmlAttributes: new { @id = "identificacao", @required = "required", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="control-label" for="especie">Característica:</label>
                            <input type="text" id="característica" name="característica" value="@Model.Caracteristica" class="form-control" placeholder="Digite alguma característica do animal" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <input type="checkbox" id="ativo" name="ativo" checked="@Model.Ativo">
                            <label class="control-label" for="especie">Ativo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <table>
                        <tr>
                            @foreach(var fotos in Model.Fotos)
                            {
                                <td style="max-width: 200px; max-height: 200px">
                                    <img class="d-block img-thumbnail" style="width:200px;height:200px" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.DescricaoFoto">
                                    <button type="button" id="@fotos.DescricaoFoto" name="btnExcluir_@fotos.AnimalId" class="btn btn-sm btn-outline-danger fa fa-trash" onclick="ExcluirImagemPet(this);" />
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr />
        <div class="card">
            <div class="card-body">
                <div id="fileUpload">
                    <span class="font-weight-bold">Inclua até 5 imagens do Pet encontrado</span>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input file" id="file01" name="file01" aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01" id="inputGroupFile01">Escolha os arquivos</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input file" id="file02" name="file02" aria-describedby="inputGroupFileAddon02">
                                <label class="custom-file-label" for="inputGroupFile02" id="inputGroupFile02">Escolha os arquivos</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input file" id="file03" name="file03" aria-describedby="inputGroupFileAddon03">
                                <label class="custom-file-label" for="inputGroupFile03" id="inputGroupFile03">Escolha os arquivos</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input file" id="file04" name="file04" aria-describedby="inputGroupFileAddon04">
                                <label class="custom-file-label" for="inputGroupFile04" id="inputGroupFile04">Escolha os arquivos</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input file" id="file05" name="file05" aria-describedby="inputGroupFileAddon05">
                                <label class="custom-file-label" for="inputGroupFile05" id="inputGroupFile05">Escolha os arquivos</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <button type="button" id="btn-Editar" class="btn btn-outline-success fa fa-save">
                    <span class="col-form-label-sm">Salvar Alterações</span>
                </button>
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/app/EncontreiPet/EncontreiPet.js"></script>