@model IEnumerable<CadeMeuPet.Domain.Entities.Animal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1 class="text-tittle-page">Encontrei um Pet</h1>
    <hr />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" id="btn-cadastrar" class="btn btn-outline-info fa fa-plus"> 
                    <span class="col-form-label-sm">Cadastrar</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <span class="text-tittle-page">Pets Cadastrados</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <table id="table-animais" class="table-responsive">
                        <thead>
                            <tr>
                                @if(Model.ToList().Count > 0)
                                {
                                    foreach(var animal in Model.Where(x => x.Fotos.Count > 0))
                                    {
                                        var i = 0;
                                        <td style="max-width: 200px; max-height: 200px" class="animal-td">
                                            <button type="button" id="btnExcluir_@animal.AnimalId" name="btnExcluir_@animal.AnimalId" class="btn btn-sm btn-outline-danger fa fa-trash" title="Excluir" onclick="ExcluirCadastroPet(this);" />
                                            <button type="button" id="btnEditar_@animal.AnimalId" name="btnEditar_@animal.AnimalId" class="btn btn-sm btn-outline-warning fa fa-edit" title="Editar" onclick="EditarCadastroPet(this);"></button>
                                            <div id="carouselId_@animal.AnimalId" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    @foreach(var fotos in animal.Fotos)
                                                    {
                                                        if(i == 0)
                                                        {
                                                            <div class="carousel-item w-img active">
                                                                @*<img class="d-block w-100 img-thumbnail" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId" onclick="ClickImg(this)">*@
                                                                <img class="d-block img-thumbnail" style="width:200px;height:200px" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId">
                                                            </div>
                                                            i++;
                                                        }
                                                        else
                                                        {
                                                            <div class="carousel-item w-img">
                                                                @*<img class="d-block w-100 img-thumbnail" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId" onclick="ClickImg(this)">*@
                                                                <img class="d-block img-thumbnail" style="width:200px;height:200px" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId">
                                                            </div>
                                                            i++;
                                                        }
                                                    }
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselId_@animal.AnimalId" role="button" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Anterior</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselId_@animal.AnimalId" role="button" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="sr-only">Próximo</span>
                                                </a>
                                            </div>

                                        </td>
                                    }
                                }
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@*<script src="~/Scripts/app/EncontreiPet/EncontreiPet.js"></script>*@
<script src="~/Scripts/app/EncontreiPet/Index.js"></script>