@model IEnumerable<CadeMeuPet.Domain.Entities.Animal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-3">
                <button type="button" id="btn-cadastrar" class="btn btn-outline-info">Cadastrar</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <span class="text-tittle-page">Pets Cadastrados</span>
                </div>
            </div>
            <div class="row">
                <table id="table-animais" class="table-responsive">
                    <thead>
                        <tr>
                            @if (Model.ToList().Count > 0)
                            {
                                foreach (var animal in Model.Where(x => x.Fotos.Count > 0))
                                {
                                    var i = 0;
                                    <td style="max-width: 200px" class="animal-td">
                                        <div id="carouselId_@animal.AnimalId" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                @foreach (var fotos in animal.Fotos)
                                                {
                                                    if (i == 0)
                                                    {
                                                        <div class="carousel-item w-img active">
                                                            <img class="d-block w-100 img-thumbnail" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId" onclick="ClickImg(this)">
                                                        </div>
                                                        i++;
                                                    }
                                                    else
                                                    {
                                                        <div class="carousel-item w-img">
                                                            <img class="d-block w-100 img-thumbnail" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto" name="@fotos.AnimalId" id="@fotos.AnimalId" onclick="ClickImg(this)">
                                                        </div>
                                                        i++;
                                                    }
                                                }
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselId_@animal.AnimalId" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Anterior</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselId_@animal.AnimalId" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Próximo</span>
                                            </a>
                                        </div>
                                    </td>
                                }
                            }
                        </tr>
                    </thead>
                </table>
                @*@if (Model.ToList().Count > 0)
                {
                    foreach (var animal in Model.Where(x => x.Fotos.Count > 0))
                    {
                        var i = 0;
                        <div class="form-group">
                            <div class="col-md-4">
                                <div id="carouselId_@animal.AnimalId" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        @foreach (var fotos in animal.Fotos)
                                        {
                                            if (i == 0)
                                            {
                                                <div class="carousel-item w-img active">
                                                    <img class="d-block w-100 img-thumbnail" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto">
                                                </div>
                                                i++;
                                            }
                                            else
                                            {
                                                <div class="carousel-item w-img">
                                                    <img class="d-block w-100 img-thumbnail" src="@fotos.CaminhoFoto.Replace("\\", "/")" alt="@fotos.DescricaoFoto">
                                                </div>
                                                i++;
                                            }
                                        }
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselId_@animal.AnimalId" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselId_@animal.AnimalId" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Próximo</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                 }*@
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/js/EncontreiPet/Index.js"></script>